# AWS Cognito (Local MiniStack)
COGNITO_AWS_REGION=
COGNITO_USER_POOL=
COGNITO_AUDIENCE=

# Local Service Endpoints
REDIS_URL=redis://redis:6379/1
MINISTACK_URL=http://ministack:4566

# PostgreSQL
DB_NAME=postgresdb
DB_USER=postgresuser
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432